
.theText {
    padding: 0.02em 0em;
    line-height: 0.85em;
}

.optionText {
    grid-column: 1;
    text-align: right;
    white-space: nowrap;
}

.padLeft {
    padding-left: 1em;
}

.padRight {
    padding-right: 0.7em;
}

.columnMargin {
    margin-inline: 0.5em;
}

.columnText {
    grid-column: 2;
    text-align: center;
}

.statusText {
    grid-column: 3;
    text-align: left;
    white-space: nowrap;
}