.buttonContainer {
    font-family: Pricedown;
    padding: 0.02em 0.5em;
    max-width: 180px;
    max-height: 56px;
    font-size: 48px;
    color: white;
    user-select: none;
    transition: linear 0.05s;
    position: relative; /* Ensure proper stacking context */
    z-index: 2;
}

.text {
    
}

.buttonContainerHover {
    z-index: 1;
    background-color: #198344;
}