.buttonContainer {
    font-family: Pricedown;
    padding: 0.02em 0.5em;
    /*max-width: 180px;*/
    /* max-height: 56px; */
    font-size: 48px;
    z-index: 2;
    text-shadow: 3px 3px 0px black;
    text-transform: lowercase;
    letter-spacing: -1px;
}