
.padImageContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    pointer-events: none;
    z-index: 1;
  }

.ThePad {
    width: 256px;
    transform: scale(var(--scale-factor));
    position: relative;
}

.ThePadArrows {
    width: 256px;
    position: absolute;
    left: 0;
}

@keyframes toggle1 {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}

@keyframes toggle2 {
    0%, 50% {
        opacity: 0;
    }
    50.01%, 100% {
        opacity: 1;
    }
}

.arrowsState1 {
    animation: toggle1 2s infinite;
}

.arrowsState2 {
    animation: toggle2 2s infinite;
}