.statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    gap: 0.25em;
    width: 70%;
    flex: 1 1;
    font-family: 'SF Arborcrest Heavy';
    height: 70vh;
}

.statsHeader {
    font-family: Pricedown;
    padding: 0.02em 0.5em;
    font-size: 48px;
    z-index: 2;
    color: var(--pink);
    text-shadow: 3px 3px 0px black;
    text-transform: lowercase;
    letter-spacing: -1px;
}

.statsPanel {
    background-color: rgb(69, 94, 122, 0.7);
    width: 80%;
    height: 40vh;
    clip-path: polygon(2.5% 0%, 97% 9%, 95% 89%, 5% 100%);
    overflow: hidden;
}

.statsFlex {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 2.5em;
    
}

.statsTransition {
    transition: all linear 0.5s;
}

.statsTransition1 {
    transition: all linear 0.1s;
}


.cancel {
    transition: none;
}

.statsEntry {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.statsEntryTitle {
}

.statsEntryValue {
}

.statsEntry:first-child {
    padding-top: 2em;
}

.statsBottom {
    display: flex;
    justify-content: flex-start;
    width: 65%;
}

@keyframes scrollDown {
    0% { transform: translateY(0); }
    99% { transform: translateY(100%); }
  }