.loadContainer {
    display: flex;
    gap: 0.5em;
    width: 80%;
    height: 70vh;
    z-index: 1;
}

.loadButtonContainer {
    display: flex;
    width: 270px;
    flex-direction: column;
    margin-left: 4%;
    margin-top: 7em;
}



.loadPanel {
    background-color: rgb(69, 94, 122, 0.7);
    width: 80%;
    z-index: 1;
    padding: 30px;
    height: 48vh;
    clip-path: polygon(2.5% 0%, 96% 3%, 100% 100%, 4% 97%);
}

.loadFlex {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding-left: 8px;
}