@keyframes playerMarker {
  0% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

.playerMarker {
  animation: playerMarker 0.88s steps(1) infinite;
  z-index: 2;
}

.playerMarkerArrow {
  /* filter: drop-shadow(2px 4px 0px rgba(0, 0, 0, 1)); */
}

.youAreHere {
  line-height: 0.75;
  width: 1em;
  padding: 0;
}

.poiMarker {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
