.mapContainer {
  display: grid;
  width: 80%;
  height: 93%;
  margin-top: 3%;
  position: relative;

  grid-template-rows: 89% 11%;
}

.legendButtonAlign {
  display: flex;
  align-items: flex-start;
  padding-left: 17%;
}

.legend {
  position: absolute;
  bottom: 5%;
  left: 7%;
  z-index: 2;
}