:root {
  --tips-clippath: polygon(11% 12%, 84% 3%, 90% 97%, 13.5% 89%);
}

.tipsContainer {
  z-index: 1;
  position: absolute;
  top: 64.7%;
  right: 1.6%;
  padding: 0.35em;
  min-width: 18em;
  background-color: black;
  clip-path: var(--tips-clippath);
  line-height: 1em;
}

.tipsContent {
  display: flex;
  padding-block: 0.9em;
  justify-content: center;
  background-color: var(--green);
  clip-path: var(--tips-clippath);
  font-size: 0.85em;
}

table td:nth-child(1) {
  text-align: right;
  min-width: 7em;
}

table td:nth-child(2) {
  text-align: center;
}

table td:nth-child(3) {
  text-align: left;
  min-width: 7em;
}

/* @media screen and (max-width: 1200px) {
  .tipsContainer {
    transform: scale(0.8);
    right: -10%;
  }
    
} */

@media screen and (max-width: 1280px) {
  .tipsContainer {
    transform: translateX(15%) scale(0.9);
  }
  .tipsContent {
    font-size: 0.8em;
  }
    
}