body {
  background-color: black;
  cursor: url('./assets/images/mouse64.png'),auto;
  overflow: hidden;
}

#root {
  position: relative;
}


.pricedown {
  font-family: Pricedown;
  color: var(--pink);
  padding: 0.02em 0.5em;
  z-index: 2;
  text-shadow: 3px 3px 0px black;
  text-transform: lowercase;
  letter-spacing: -1px;
}

.pricedownM {
  font-size: 48px;
}

.arborcrest {
  font-family: "SF Arborcrest Heavy";
}

.arborcrestM {
  font-size: 32px;
}

.arborcrestS {
  font-size: 24px;
}

.viceLogo {
  position: absolute;
  z-index: 9999;
  width: 256px;
  height: 256px;
  pointer-events: none;
  top: 2.8%;
  left: 8.5%;
  animation: fadeIn 0.4s;
}

.AppContainer {
  position: relative;
  display: grid;
  grid-template-rows: 81dvh 19dvh;
  z-index: 2;
}

.App {
  animation: fadeIn 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  z-index: 1;
}

.bottomButtons {
  padding: 0em 0.5em;
  max-height: 43px;
}

.bottomButtonContainer {
  grid-row: 2;
}

.bottomButtonRow {
  animation: fadeIn 0.4s;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.backgroundElement {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/background256_ps2.png');
  /* filter: blur(0.6px); */
}

.App > * {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}