#root {
  background-color: black;
  cursor: url('./assets/images/mouse64.png'),auto;
  position: relative;
}

.viceLogo {
  position: absolute;
  z-index: 9999;
  width: 256px;
  height: 256px;
  pointer-events: none;
  top: 4%;
  left: 3%;
  animation: fadeIn 0.4s;
}

@keyframes rollout {
  0% { transform: translateY(-100px); }
  100% { transform: none; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* clip-path: polygon(3% 4%, 99% 5%, 96% 86%, 3% 89%); */
.App {
  animation: fadeIn 0.4s;
  background-image: url('./assets/images/background1024.png');
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  z-index: 1;
}

.App > * {
  animation: fadeIn 0.3s;
}

.AppContainer {
  min-height: 100vh;
  position: relative;
  min-width: 640px;
  display: flex;
  flex-direction: column;
}

.margin {
  margin-left: 20vh;
  margin-right: 20vh;
}

.frame {
  animation: fadeIn 0.4s;
  display: flex;
  justify-content: center;

  width: 50%;
  flex-direction: row;
}

.buttonContainer {
  outline: none;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  bottom: 3%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
