body {
  background-color: black;
}

#root {
  cursor: url('./assets/images/mouse64.png'),auto;
  position: relative;
  overflow: hidden;
}

.viceLogo {
  position: absolute;
  z-index: 9999;
  width: 256px;
  height: 256px;
  pointer-events: none;
  top: 4%;
  left: 3%;
  animation: fadeIn 0.4s;
}

@keyframes rollout {
  0% { transform: translateY(-100px); }
  100% { transform: none; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.AppContainer {
  min-height: 100vh;
  position: relative;
  min-width: 640px;
  display: grid;
  grid-template-rows: 83vh 17vh;
  z-index: 2;
}

.App {
  animation: fadeIn 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  z-index: 1;
}

.bottomButtons {
  padding: 0em 0.5em;
  max-height: 43px;
}

.bottomButtonContainer {
  grid-row: 2;
}

.bottomButtonRow {
  animation: fadeIn 0.4s;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.backgroundElement {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/background256_ps2.png');
  /* filter: blur(0.6px); */
}

.App > * {
  animation: fadeIn 0.3s;
}

.loadPanelBackground {
  background-color: var(--lightblue);
  clip-path: polygon(2.5% 0%, 96% 3%, 100% 100%, 4% 97%);
}

.margin {
  margin-left: 20vh;
  margin-right: 20vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
