:root {
  --base-font-size-pricedownL: 72px;
  --base-font-size-pricedownM: 48px;
  --base-font-size-arborcrestM: 32px;
  --base-font-size-arborcrestS: 24px;
  --base-font-size-arborcrestXS: 16px;
  --base-background-size: 256px;
  --base-pos-size: 128px;
  --scale-factor: 1; /* Default scale factor */
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  :root {
    --scale-factor: 0.85;
  }
  .pricedown {
    text-shadow: 2px 2px 0px black;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --scale-factor: 0.75;
  }
  .pricedown {
    text-shadow: 1.5px 1.5px 0px black;
  }
}

@media screen and (max-width: 360px) {
  :root {
    --scale-factor: 0.65;
  }
  .pricedown {
    text-shadow: 1px 1px 0px black;
  }
}

/* Maintain responsiveness for height-based adjustments */
@media screen and (max-height: 700px) {
  :root {
    --scale-factor: 0.9;
  }
}

@media screen and (max-height: 600px) {
  :root {
    --scale-factor: 0.75;
  }
}

@media screen and (max-height: 500px) {
  :root {
    --scale-factor: 0.65;
  }
}

@media screen and (max-height: 400px) {
  :root {
    --scale-factor: 0.55;
  }
}

@media screen and (max-height: 300px) {
  :root {
    --scale-factor: 0.4;
  }
}

/* Increase scale factor for larger screens */
@media screen and (min-width: 1200px), (min-height: 800px) {
  :root {
    --scale-factor: 1.05;
  }
  .pricedown {
    text-shadow: 3.5px 3.5px 0px black;
  }
}

@media screen and (min-width: 1400px), (min-height: 900px) {
  :root {
    --scale-factor: 1.1;
  }
  .bottomButtons {
    max-height: 143px;
  }
}

@media screen and (min-width: 1600px), (min-height: 1000px) {
  :root {
    --scale-factor: 1.35;
  }
  .pricedown {
    text-shadow: 4.5px 4.5px 0px black;
  }
}

@media screen and (min-width: 2000px), (min-height: 1440px) {
  :root {
    --scale-factor: 1.9;
  }
  .pricedown {
    text-shadow: 6px 6px 0px black;
  }
}

@media screen and (min-height: 1600px) {
  :root {
    --scale-factor: 2.5;
  }
  .pricedown {
    text-shadow: 7px 7px 0px black;
    letter-spacing: -0.3px;
  }
}

/* Font size calculations */
.pricedownM {
  font-size: calc(var(--base-font-size-pricedownM) * var(--scale-factor));
}

.pricedownL {
  font-size: calc(var(--base-font-size-pricedownL) * var(--scale-factor));
}

.arborcrestM {
  font-size: calc(var(--base-font-size-arborcrestM) * var(--scale-factor));
}

.arborcrestS {
  font-size: calc(var(--base-font-size-arborcrestS) * var(--scale-factor));
}

.arborcrestXS {
  font-size: calc(var(--base-font-size-arborcrestXS) * var(--scale-factor));
}

.backgroundElement {
  background-size: calc(var(--base-background-size) * var(--scale-factor));
}

.viceLogo {
  width: calc(var(--base-background-size) * var(--scale-factor));
  height: calc(var(--base-background-size) * var(--scale-factor));
}
