:root {
  --base-font-size-pricedownL: 72px;
  --base-font-size-pricedownM: 48px;
  --base-font-size-arborcrestM: 32px;
  --base-font-size-arborcrestS: 24px;
  --base-font-size-arborcrestXS: 16px;
  --base-background-size: 256px;
  --base-pos-size: 128px;
  --base-controller-height: 256px;
  --scale-factor: 1; /* Default scale factor */
}

/* @media screen and (max-width: 900px) {
  :root {
    --scale-factor: 0.85;
  }
  .pricedown {
    text-shadow: 2.5px 2px 0px black;
    }
    } */
    
/*
@media screen and (max-width: 768px) {
  :root {
    --scale-factor: 1.2;
  }
  .pricedown {
    text-shadow: 2px 2px 0px black;
  }
  .AppContainer {
    grid-template-rows: 71dvh 29dvh;
  }
  .backgroundElement {
    height: 90dvh;
  }
}
        
@media screen and (max-width: 540px) {
  .AppContainer {
    display: none;
  }
  .backgroundElement {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --scale-factor: 0.75;
  }
  .pricedown {
    text-shadow: 1.5px 1.5px 0px black;
  }
}

@media screen and (max-width: 360px) {
  :root {
    --scale-factor: 0.65;
  }
  .pricedown {
    text-shadow: 1px 1px 0px black;
  }
}*/

/* Media queries to adjust scale factor based on height */
@media screen and (max-height: 700px) {
  :root {
    --scale-factor: 0.9; /* Adjust as needed */
  }
}

@media screen and (max-height: 650px) {
  :root {
    --scale-factor: 0.85; /* Adjust as needed */
  }
  .pricedown {
    letter-spacing: -0.3px;
    text-shadow: 2.5px 2.5px 0px black;
  }
}

@media screen and (max-height: 600px) {
  :root {
    --scale-factor: 0.8; /* Adjust as needed */
  }
}

@media screen and (max-height: 560px) {
  :root {
    --scale-factor: 0.75; /* Adjust as needed */
  }
  .pricedown {
    text-shadow: 2px 2px 0px black;
  }
}

@media screen and (max-height: 500px) {
  :root {
    --scale-factor: 0.7; /* Adjust as needed */
  }
}

@media screen and (max-height: 450px) {
  :root {
    --scale-factor: 0.65; /* Adjust as needed */
  }
  .pricedown {
    text-shadow: 2px 2px 0px black;
  }
}

@media screen and (max-height: 420px) {
  :root {
    --scale-factor: 0.6; /* Adjust as needed */
  }
}

@media screen and (max-height: 380px) {
  :root {
    --scale-factor: 0.55; /* Adjust as needed */
  }
  .pricedown {
    text-shadow: 1.5px 1.5px 0px black;
  }
}

/* ... other media queries with different scale factors */

@media screen and (max-height: 330px) {
  :root {
    --scale-factor: 0.5; /* Adjust as needed */
  }
}

@media screen and (max-height: 300px) {
  :root {
    --scale-factor: 0.45; /* Adjust as needed */
  }
}

@media screen and (max-height: 270px) {
  :root {
    --scale-factor: 0.4; /* Adjust as needed */
  }
  .pricedown {
    text-shadow: 1px 1px 0px black;
  }
}

@media screen and (min-height: 800px) {
  /* Example: 1080p and above */
  :root {
    --scale-factor: 1.05; /* Increase scale factor for larger screens */
  }
  .pricedown {
    text-shadow: 3.5px 3.5px 0px black;
  }
}
@media screen and (min-height: 900px) {
  /* Example: 1080p and above */
  :root {
    --scale-factor: 1.1; /* Increase scale factor for larger screens */
  }
  .bottomButtons {
    max-height: 143px;
  }
}

@media screen and (min-height: 1000px) {
  /* Example: 1080p and above */
  :root {
    --scale-factor: 1.575; /* Increase scale factor for larger screens */
  }

  .pricedown {
    text-shadow: 4.5px 4.5px 0px black;
  }
}

@media screen and (min-height: 1200px) {
  /* Example: 1080p and above */
  :root {
    --scale-factor: 1.7; /* Increase scale factor for larger screens */
  }

  .pricedown {
    text-shadow: 5px 5px 0px black;
  }
}

@media screen and (min-height: 1440px) {
  /* Example: 1440p and above */
  :root {
    --scale-factor: 1.9; /* Further increase for even larger screens */
  }

  .pricedown {
    text-shadow: 6px 6px 0px black;
  }
}

@media screen and (min-height: 1600px) {
  /* Example: 1440p and above */
  :root {
    --scale-factor: 2.5; /* Further increase for even larger screens */
  }

  .pricedown {
    text-shadow: 7px 7px 0px black;
    letter-spacing: -0.3px;
  }
}

.pricedownM {
  font-size: calc(var(--base-font-size-pricedownM) * var(--scale-factor));
  /* Add text-shadow and letter-spacing changes to the appropriate media queries */
}

.pricedownL {
  font-size: calc(var(--base-font-size-pricedownL) * var(--scale-factor));
  /* Add text-shadow and letter-spacing changes to the appropriate media queries */
}

.arborcrestM {
  font-size: calc(var(--base-font-size-arborcrestM) * var(--scale-factor));
}

.arborcrestS {
  font-size: calc(var(--base-font-size-arborcrestS) * var(--scale-factor));
}

.arborcrestXS {
  font-size: calc(var(--base-font-size-arborcrestXS) * var(--scale-factor));
}

.backgroundElement {
  background-size: calc(var(--base-background-size) * var(--scale-factor));
}

.viceLogo {
  width: calc(var(--base-background-size) * var(--scale-factor));
  height: calc(var(--base-background-size) * var(--scale-factor));
}

.controllerPadHeight {
  height: calc(var(--base-controller-height) * var(--scale-factor));
}
