.displayContainer {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 80%;
    margin-top: 3%;
    margin-left: 6%;
    z-index: 1;

    align-items: center;
    justify-content: center;
}

.displayBrightnessFlex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.2em;
    text-align: right;
    width: max-content;
    padding-right: 0.45em;
    padding-block: 0.1em;
}

.displayScreenPosCenterFlex {
    display: flex;
    justify-content: center;
    width: 100%;
}

.displayScreenPosColFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


:root {
    --pos-scale-base: 1;
  }
  
  @media (max-height: 768px) {
    :root {
      --pos-scale-base: 1.01;
    }
  }
  
  @media (min-height: 1080px) {
    :root {
      --pos-scale-base: 1.2;
    }
  }

.displayScreenPosImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./../../../assets/images/scsize.png");
    transform: scale(var(--pos-scale-base));
}
  
  /* The crucial fix is here: scale BOTH base and increment! */
  .bar {
    height: calc(var(--bar-height-base) * var(--bar-height-scale) + var(--bar-height-increment) * var(--bar-height-scale) * var(--level-index)); /* Dynamic height */
  }

.displayPadleft {
    padding-left: 1em;
}

.displayPadright {
    padding-right: 0.5em;
}

.displayButtonHeight {
    max-height: 46px;
}